.footer {
    width: 100%;
    background: #29A0B1;
    color: #DDFFE7;
}

.footer__container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 32px 24px;
    text-align: center;
}

.footer__nav {
    display: flex;
    justify-content: center;
    gap: 32px;
    flex-wrap: wrap;
    margin-bottom: 24px;
}

.footer__nav a {
    display: flex;
    align-items: center;
    gap: 8px;

    color: #DDFFE7;
    text-decoration: none;
    font-weight: 600;
    font-size: 0.9rem;

    transition: color 0.2s, transform 0.2s;
}

.footer__nav a svg {
    font-size: 1rem;
}

.footer__nav a:hover {
    color: #98D7C2;
    transform: translateY(-1px);
}


.footer__divider {
    width: 80%;
    margin: 0 auto 24px;
    border: none;
    border-top: 1px solid rgba(221, 255, 231, 0.4);
}

.footer__text {
    max-width: 820px;
    margin: 0 auto 32px;
    font-size: 0.9rem;
    line-height: 1.6;
    color: #DDFFE7;
}

.footer__socials {
    display: flex;
    justify-content: center;
    gap: 20px;
    font-size: 1.2rem;
}

.footer__socials a {
    color: #DDFFE7;
    text-decoration: none;
    opacity: 0.85;
    transition: all 0.2s;
}

.footer__socials a:hover {
    opacity: 1;
    color: #98D7C2;
}

.footer__bottom {
    background: #167D7F;
    text-align: center;
    padding: 14px;
    font-size: 0.8rem;
    color: #DDFFE7;
}

@media (max-width: 640px) {
    .footer__nav {
        gap: 16px;
    }

    .footer__text {
        font-size: 0.85rem;
    }
}