:root {
  --cerceta: #29A0B1;
  --teal-green: #167D7F;
  --hortela: #98D7C2;
  --hortela-light: #DDFEF7;
  --white: #ffffff;
  --gray: #666;
}

.forgot-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.forgot-page {
  min-height: 81vh;
  width: 100%;
  background: var(--hortela-light);
  display: flex;
  align-items: center;
  justify-content: center;
}

.forgot-card {
  width: 850px;
  background: var(--white);
  border-radius: 20px;
  display: flex;
  overflow: hidden;
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.15);
}

.forgot-left,
.forgot-right {
  flex: 1;
  padding: 60px 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.forgot-left h2 {
  margin-bottom: 15px;
  color: var(--teal-green);
}

.description {
  font-size: 14px;
  color: var(--gray);
  margin-bottom: 25px;
}

.forgot-left form {
  display: flex;
  flex-direction: column;
}

.forgot-left input {
  margin-bottom: 15px;
  padding: 13px;
  border-radius: 8px;
  border: 1px solid #ddd;
  outline: none;
  font-size: 14px;
}

.forgot-left input:focus {
  border-color: var(--cerceta);
}

.btn-signin {
  padding: 13px;
  border: none;
  border-radius: 25px;
  background: var(--cerceta);
  color: var(--white);
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;
}

.btn-signin:hover {
  background: var(--teal-green);
}

.back-link {
  margin-top: 20px;
  font-size: 13px;
  text-align: center;
  text-decoration: none;
  color: var(--teal-green);
}

.forgot-right {
  background: linear-gradient(
    135deg,
    var(--cerceta),
    var(--hortela)
  );
  color: var(--white);
  text-align: center;
}

.forgot-right h2 {
  margin-bottom: 15px;
}

.forgot-right p {
  font-size: 14px;
}

@media (max-width: 768px) {
  .forgot-card {
    width: 100%;
    min-height: 100vh;
    border-radius: 0;
    flex-direction: column;
    box-shadow: none;
  }

  .forgot-right {
    order: -1;
    padding: 40px 30px;
    border-radius: 0 0 30px 30px;
  }

  .forgot-left {
    padding: 40px 30px;
  }

  .forgot-left input {
    font-size: 16px;
  }

  .btn-signin {
    width: 100%;
  }
}
