* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;

  background: var(--bg-page);
  color: var(--text-primary);

  transition: background 0.3s ease, color 0.3s ease;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
