.loading-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.55);
  z-index: 9999;

  display: flex;
  align-items: center;
  justify-content: center;
}

.loading-box {
  background: var(--bg-card);
  color: var(--text-primary);
  padding: 30px 50px;
  border-radius: 12px;
  font-size: 40px;
  font-weight: bold;
  letter-spacing: 6px;
}

.dot {
  animation: blink 1.4s infinite both;
}

.dot:nth-child(1) {
  animation-delay: 0s;
}

.dot:nth-child(2) {
  animation-delay: 0.2s;
}

.dot:nth-child(3) {
  animation-delay: 0.4s;
}

@keyframes blink {
  0% {
    opacity: 0.2;
  }

  20% {
    opacity: 1;
  }

  100% {
    opacity: 0.2;
  }
}