/* NAVBAR */
.navbar {
  position: sticky;
  top: 0;
  width: 100%;
  background: #29A0B1;
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.navbar__container {
  padding: 14px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* LOGO */
.navbar__logo img {
  height: 40px;
}

/* MENU */
.navbar__nav {
  display: flex;
  gap: 6px;
}

/* BOTÕES PADRÃO */
.btn {
  display: flex;
  align-items: center;
  gap: 6px;
  color: #DDFFE7;
  padding: 6px 10px;
  border-radius: 6px;
  text-decoration: none;
  font-weight: 600;
}

.btn:hover {
  color: #98D7C2;
}

/* DROPDOWN DESKTOP */
.user-dropdown {
  position: relative;
}

.user-dropdown__btn {
  background: transparent;
  border: none;
  color: #DDFFE7;
  display: flex;
  gap: 8px;
  font-weight: 600;
  cursor: pointer;
}

.user-dropdown__btn:hover {
  color: #69aeb8;
}


.user-dropdown__menu {
  position: absolute;
  top: 120%;
  right: 0;
  background: #167D7F;
  border-radius: 8px;
  min-width: 180px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 6px 15px rgba(0,0,0,0.2);
}

.user-dropdown__menu a,
.user-dropdown__menu button {
  padding: 12px;
  display: flex;
  gap: 10px;
  align-items: center;
  color: #DDFFE7;
  background: none;
  border: none;
  cursor: pointer;
  text-decoration: none;
}

.user-dropdown__menu a:hover {
  background: #29A0B1;
}

/* LOGOUT */
.logout {
  color: #FF6B6B !important;
}

.logout:hover {
  background: #29A0B1;
}

/* HAMBURGER */
.navbar__hamburger {
  z-index: 1000;
  display: none;
  font-size: 1.6rem;
  color: #DDFFE7;
  cursor: pointer;
}

/* MOBILE */
@media (max-width: 768px) {
  .navbar__nav {
    position: fixed;
    top: 0;
    right: -100%;
    height: 100vh;
    width: 260px;
    background: #29A0B1;
    flex-direction: column;
    padding: 90px 20px;
    gap: 5px;
    transition: right 0.3s ease;
  }

  .navbar__nav--open {
    right: 0;
  }

  .navbar__hamburger {
    display: block;
  }

  .desktop-only {
    display: none;
  }

  .mobile-only {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
  }

  .mobile-user-menu a,
  .mobile-user-menu button {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #DDFFE7;
    font-size: 1.05rem;
    background: none;
    border: none;
    text-decoration: none;
    cursor: pointer;
  }
}

/* DESKTOP */
@media (min-width: 769px) {
  .mobile-only {
    display: none;
  }
}
